<div>
    <div class="image">
        <img src="https://starwars-visualguide.com/assets/img/characters/{{id}}.jpg" alt="No image found">
    </div>
    <div class="details">
        <ul>
            <li>{{detailArr.name}}</li>
            <li>Birth Year: {{detailArr.birth_year}}</li>
            <li>Species: {{species}}</li>
            <li>Height: {{detailArr.height}}</li>
            <li>Mass: {{detailArr.mass}}</li>
            <li>Gender: {{detailArr.gender}}</li>
            <li>Hair Color: {{detailArr.hair_color}}</li>
            <li>Skin Color: {{detailArr.skin_color}}</li>
            <li>Homeworld: {{detailArr.homeworld}}</li>
        </ul>
    </div>
</div>