/* You can add global styles to this file, and also import other style files */
// body {
//     // background-color: black;
//  }
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    // background: url('./assets/5955903.webp');
    background: black;
    color: white;
}