<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-sm-evenly">
        <div>
            <a routerLink="listof/cherecters"><button class="btn btn-primary">cherecters</button></a>
        </div>
        <div>
            <a routerLink="listof/films"><button class="btn btn-primary">films</button></a>
        </div>
        <div>
            <a routerLink="listof/species"><button class="btn btn-primary">species</button></a>
        </div>
    </div>
    <br>
    <div class="d-flex flex-row justify-content-sm-evenly"> 
        <div>
            <a routerLink="listof/starships"><button class="btn btn-primary">starships</button></a>
        </div>
        <div>
            <a routerLink="listof/vehicles"><button class="btn btn-primary">vehicles</button></a>
        </div>
        <div>
            <a routerLink="listof/planets"><button class="btn btn-primary">planets</button></a>
        </div>
    </div>
</div>