<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-sm-evenly">
        <div>
            <a routerLink="cherecters"><button class="btn btn-primary">cherecters</button></a>
        </div>
        <div>
            <a routerLink="films"><button class="btn btn-primary">films</button></a>
        </div>
        <div>
            <a routerLink="species"><button class="btn btn-primary">species</button></a>
        </div>
    </div>
    <br>
    <div class="d-flex flex-row justify-content-sm-evenly"> 
        <div>
            <a routerLink="starships"><button class="btn btn-primary">starships</button></a>
        </div>
        <div>
            <a routerLink="vehicles"><button class="btn btn-primary">vehicles</button></a>
        </div>
        <div>
            <a routerLink="planets"><button class="btn btn-primary">planets</button></a>
        </div>
    </div>
</div>